<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNGdemo">
  <test thread-count="1" name="Testregression">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="Seleniumbasics.TestNGBrowserparameter"/>
    </classes>
  </test> <!-- Testregression -->
</suite> <!-- TestNGdemo -->